<div id="login">
    <h1>Login</h1>
    <form id="login">
        <input type="text" name="user" placeholder="Username" id="user"/><br>
        <input type="password" name="password" placeholder="Password" id="password"/><br>
        <div id="buttons_login">
            <input type="button" id="login_button" class="button_panel_register" value="Login" /><br>
            <input type="button" id="login_google" class="fa-input" value="&#xf1a0"/>
            <input type="button" id="login_github" class="fa-input" value="&#xf09b"/>
            <p id="remind">Don't remember your user?</p>
        </div>
    </form>
</div>