<div id="register">
    <h1>Register</h1>
    <form id="register">
        <input type="text" placeholder="Username" name="username" id="username"/><br>
        <input type="password" placeholder="Password" name="Password" id="Password"/><br>
        <input type="password" placeholder="Confirm" name="confirm" id="confirm"/><br>
        <input type="email" placeholder="Email" name="email" id="email"/><br>
        <div id="buttons_login">
            <input type="button" id="register_button" class="button_panel_register" value="Register"/><br />
            <input type="button" id="register_google" class="fa-input" value="&#xf1a0" data-onsuccess="onSignIn"/>
            <input type="button" id="register_github" class="fa-input" value="&#xf09b"/>

        </div>
        
    </form>
</div>